In [ ]:
## loops -- code ko circle m chlna ka leya use krta h-- for and while

In [ ]:
# for loop -- it is used to iterate over a sequence(list,tuple,dict,range)
# string
for i in "hello": ## here i is temperary variable means hrr character ko baare baare sa print kryga 
     print(i)

h
e
l
l
o

In [ ]:
## list 
for i in [1,2,3,4, "hello"]:
    print(i)

1
2
3
4
hello

In [ ]:
## tuple
tpl = ("red","black","blue")
for i in tpl:
    print(i)

red
black
blue

In [ ]:
## dictionary
dt ={
    "name" : "kamlesh" ,
    "age" : 20 ,
    "hobby" : " cricket"
    }
for i in dt:
 print(i)

name
age
hobby

In [10]:
dt ={
    "name" : "kamlesh" ,
    "age" : 20 ,
    "hobby" : " cricket"
    }
for i,j in dt.items():
 print(i,"---",j)

name --- kamlesh
age --- 20
hobby ---  cricket

In [8]:
for k in range(5):
    print(k)

0
1
2
3
4

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [2]:
## nested loop 
lst =[1,2,3]
lst1 = ["a","b","c"]
for i in lst:
    for j in lst1:
        print(i,j)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

In [ ]:
## break  
for i in range(1,10):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [32]:
## continue
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [6]:
for i in range(1,10):
    pass               ## incomplete code chl jya bena kese error ka uska leya pass ka use krta h

In [12]:
## lst ka elements ka syuare krna h 
## output lst m cheya
lst = [1,2,3]
lst1 =[]
for i in lst:
    lst1.append(i**2)
print(lst1)

[1, 4, 9]

In [16]:
## list ko reverse krna h
lst = [1,2,3]
lst1 = []
for i in range(len(lst)-1,-1,-1):
    lst1.append(lst[i])
print(lst1)

[3, 2, 1]

In [17]:
lst = [1,2,3]
lst.reverse()
print(lst)

[3, 2, 1]

In [ ]:
## while loop --- works on condition -- jb tk condition true hote h tb tk chlta h
i = 1
while i <= 10:
    print(i)
    i +=1   ## agr increment nhi krynga tb loop infinit loop ke condition m chla jyga

1
2
3
4
5
6
7
8
9
10

In [22]:
## reverse using while loop
i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0

In [24]:
## break 
i = 0
while i <= 10:
    print(i)
    i += 1
    if i== 5:
        break

0
1
2
3
4

In [29]:
# continue
i = 1
while i <= 10:
    if i==3:
        i += 1
        continue
    print(i)
    i += 1

1
2
4
5
6
7
8
9
10